/*     DEFAULT STYLE  - DON'T EDIT THIS    */

#myVideo {
  position: relative;
  overflow: hidden;
  width: 70%;
  height: 0;
  padding-bottom: 39.25%;
  margin: 5%;
  background: url('http://edge-assets.wirewax.com/creativeData/devChallenge/london.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
}

#myTag {
  width: 29.23%;
  height: 35.87%;
  top: 5.565%;
  left: 45.565%;
  position: absolute;
  display: none;
}

#myOverlay {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
}
/*     END DEFAULT STYLE     */

.show {
  font-family: 'Crimson Text', serif;
  font-size: 2em;
}

#myVideo{
  font-family: 'Crimson Text', serif;
  font-size: 0.25em;
  font-style: italic;
}

.animate-out{

}
